@mSeguridad.CookieID()

<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Nosotros</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/fontawesome.all.min.css" />
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/css/jquery.lineProgressbar.css" />
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/color.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/favicon/ms-icon-310x310.png">

    <link rel="manifest" href="assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1021577462753223');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1021577462753223&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    @mAnalitica.AnaliticaGoogle()
</head>

<body>
    <!-- Preloader Area -->
    <div id="preloader">
        <div id="status">
            <img src="assets/img/loader.gif" alt="img">
        </div>
    </div>

    @navegacion.Menu()

    <!-- Banner Area -->
    <section id="common_banner_one" style="background-image: url(/img/secciones/b_nosotros.jpg)">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_banner_text">
                        <h2>Nosotros</h2>
                        <ul>
                            <li><a href="~/">Inicio</a></li>
                            <li><i class="fas fa-slash"></i></li>
                            <li class="active">Nosotros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-Top -->
    <section id="about-top" class="ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="about_top_img">
                        <img src="~/img/nosotros/nosotros_1.jpg" alt="Maquipan">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="about_top_left_content">
                        <h4 class="text-center" style="margin-top: 35px;">
                            Maquipan es una compañía orgullosamente mexicana que ha estado sirviendo a la industria alimentaria en México desde 1982.
                            <br /><br />
                            Somos distribuidores de marcas reconocidas a nivel nacional e internacional de maquinaria esencial para equipar panaderías, pizzerías, reposterías, cafeterías, restaurantes y hoteles; además de ser especialistas en la fabricación de hornos de gaveta de alta calidad.
                            <br /><br />
                            Nuestra misión es ser líderes en la industria gastronómica ofreciendo equipos de calidad, asesoría personalizada y servicio técnico eficaz para nuestros clientes.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="padding: 20px 0px;">
        <div class="row align-items-center ">
            <div class="col-md-12 text-center text-muted" style="font-size: 22px; padding: 20px 0px;">
                algunos de nuestros clientes
            </div>

            <div class="col-md-12">

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_MARISA.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_PASTEKO.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_paulette.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_CAMPOMAR.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_CHIRIMBOLAS.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_CONRAD.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_DASAVENA.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_EL ALMACEN.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_FLEX.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_FOUR SEASONS.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_GRAND PALLADIUM.png" /></h4>
                    </div>
                    <div class="item">
                        <h4 style="padding: 8px;"><img src="~/img/clientes/M_IL DIAVOLO.png" /></h4>
                    </div>
                </div>

            </div>

        </div>
    </div>



    @navegacion.Footer()
    <!-- CopyRight Area -->
    <!-- Jquery -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/meanmenu.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.js"></script>
    <script src="~/assets/js/jquery.lineProgressbar.js"></script>
    <script src="~/assets/js/count.js"></script>
    <script src="~/assets/js/nice-select.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/zcore/js/buscador.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 6,
                loop: true,
                margin: 40,
                autoplay: true,
                autoplayTimeout: 1500,
                autoplayHoverPause: true
            });
        });
    </script>

</body>

</html>