<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>


    <!-- Referencias para plataforma sandbox -->
    <link rel="stylesheet" type="text/css" href="https://sandbox.atratopago.com/ecommerce_plugin/highslide.css" />
    <script type="text/javascript" src="https://sandbox.atratopago.com/ecommerce_plugin/highslide-with-html.js"></script>
    <script type="text/javascript" src="https://sandbox.atratopago.com/ecommerce_plugin/highslide-config.js"></script>

</head>
<body>

    <div id="higslide-div-atrato-info"
         data-plataform="other"
         data-type="info"
         data-price="5840"
         data-version="2.0"
         data-style="dark"
         data-linkcolor="black"
         data-urlhost="https://app.atratopago.com">
    </div>

</body>
</html>